package components

templ Title(title string) {
    @TitleStyle()
    <h1 class="title">{title}</h1>
}

templ TitleStyle() {
    <style>
    .title{
        font-size: 70px;
        font-weight: bold;
        color: var(--color-white);
        margin-top: 0;
        margin-bottom: 12px;
    }
    </style>
}