package components

templ Title2(title string, isCenter bool) {
    @Title2Style()
    <h2 class={
        "title2",
        templ.KV("title2-center", isCenter)
    }>{title}</h2>
}

templ Title2Style() {
    <style>
    .title2{
        font-size: 50px;
        font-weight: 700;
        color: var(--color-black);
        margin: 0;
    }
    .title2-center{
        text-align: center;
    }
    </style>
}