package views

import "github.com/glebbeliaev/purple_dz/views/components"
import "github.com/glebbeliaev/purple_dz/views/layout"

templ Main() {
	@layout.Layout(layout.LayoutProps{
		Title: "Поиск работы",
		MetaDescription: "Простой поиск работы мечты",
	}){
		<main>
			@layout.Header(){
				@components.Title("Найди работу своей мечты")
				@components.SubTitle("Простой поиск работы")
			}
			@layout.VacancyFormLayout()
		</main>
	}
}
