:root {
    --color-white: #FFFFFF;
    --color-primary: #309689;
    --color-primary-10: #3096891A;
    --color-primary-hover: #2F8B6B;
    --color-black: #000000;
    --color-black-50: #00000080;
    --color-gray-600: #6C757D;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}