package layout

templ Header() {
    @HeaderStyle()
    <div class="header-wrap">
    @Menu()
    { children... }   
    </div>  
}

templ HeaderStyle() {
    <style>
        .header-wrap{
            background: #222222;
            text-align: center;
            padding: 0px 72px 40px 72px;
            height: 100%;
        }
    </style>
    
}